.hero-list .hero-card {
    background-color: #f1f1f1;
    border: 2px solid #c5c7ca;
    .ant-card-actions > li {
        margin: 0px;
    }
    img {
        height: 300px;
    }
}

.hero-pagination { 
    margin-top: 2rem;
    float: right;        
}